// Main styles
@import '_main';

.btn {
  min-width: auto;
  margin-bottom: 10px;
}

.btn.disabled {
  cursor: not-allowed;
  border: 2px solid #912222;
  color: #912222;
  
  &:hover {
    border: 2px solid #912222;
    color: #912222;
    background-color: #fff;
  }
}

.modal {
  display: none;
  padding: 70px 130px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  z-index: 2;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    width: 250px;
    margin-top: 5px;
    background-color: #E09C42;
    border-color: #E09C42;
    color: #fff;

    &:hover {
      background-color: #cf831e;
      border-color: #cf831e;
    }
  }

  &__input:focus {
    border: 1px solid #E09C42;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

// Header
@import '_header';

// Search Teacher
.search-teacher {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../img/search-section-bg.png') center center/cover no-repeat;

  h2 {
    color: #fff;
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 20px;
  }

  &__input-form {
    position: relative;

    input {
      width: 800px;
      padding: 15px 25px;
      border: none;
      outline: none;
      border-radius: 6px;
      font-size: 18px;

      &::placeholder {
        color: #c9c9c9;
      }
    }

    .search-teacher__button {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      padding: 5px;
    }
  }
}

// Teachers
.teachers {
  &__container {
    padding: 50px 0;
  }

  h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__item {
    margin: 20px 0;
  }
}

.teacher {
  width: 100%;
  padding: 27px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 55px;
    height: 55px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    margin-left: 30px;
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__lesson {
    font-size: 20px;
  }

  &__name {
    font-size: 16px;
  }

  &__price {
    margin-right: 60px;
    font-size: 32px;
  }
}

// Subscribe
.subscribe {
  display: flex;
  background-color: #e09c42;

  &__content {
    width: 45%;
    padding: 75px;

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 900;
      color: #fff;
    }
  }

  &__background {
    width: 55%;
    background: url('../../img/subscribe-bg.png') center center/cover no-repeat; 
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    background: #fff;
    color: #000;
    border-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 20px;

    &:hover {
      background-color: #fff;
      color: #000;
      border-color: #fff;
    }
  }
}

@import '_media-main';